<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="DBDatos" type="System.Configuration.DictionarySectionHandler" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SanEmeterio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <DBDatos>
    <add key="sanemeterio" value="sanemeterio" />
    <add key="chevrolet" value="chevrolet" />
    <add key="rombo" value="rombo" />
  </DBDatos>
  <appSettings>
    <add key="Per_IVA" value="3" />
    <add key="Per_OTROS" value="0.60" />
    <add key="Per_IB" value="4" />
    <add key="Camino" value="c:\envia-mail" />
    <add key="Derivacion" value="c:\actua_se" />
    <add key="Color" value="0x78FF0000" />
    <add key="IP" value="127.0.0.1" />
    <!--<add key="ClientSettingsProvider.ServiceUri" value="" />-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="cnx" connectionString="Server=127.0.0.1;Database=sanemeterio;User ID=root;Password=Mapuch33;defaultcommandtimeout=1000;persistsecurityinfo=True" providerName="MySql.Data.MySqlClient" />
    <add name="SanEmeterio.Properties.Settings.Conex" connectionString="server=127.0.0.1;user id=root;password=Mapuch33;defaultcommandtimeout=1000;persistsecurityinfo=True;database=sanemeterio" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <SanEmeterio.Properties.Settings>
      <setting name="ColorFondoRombo" serializeAs="String">
        <value>0, 122, 204</value>
      </setting>
      <setting name="ColorFondoChev" serializeAs="String">
        <value>0, 122, 204</value>
      </setting>
      <setting name="ColorEtiquetaRombo" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="ColorEtiquetaChev" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="ColorTextoRombo" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="ColorTextoChev" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="ColorFondoTextoRombo" serializeAs="String">
        <value />
      </setting>
      <setting name="colorFondoTextoChev" serializeAs="String">
        <value />
      </setting>
      <setting name="ColorBotonRombo" serializeAs="String">
        <value />
      </setting>
      <setting name="ColorBotonChev" serializeAs="String">
        <value />
      </setting>
      <setting name="TamFuente" serializeAs="String">
        <value>9</value>
      </setting>
    </SanEmeterio.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>